:root {
  --color-primary: #fff;
  --color-secondary: #1a8ad9;
}
.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 15px;
}
.main {
  margin-top: 60px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 60px;
    text-align: center;
    max-width: 60%;
    color: var(--color-primary);
    span {
      color: var(--color-secondary);
    }
  }
  &__image img {
    width: 100%;
    height: auto;
    margin: 2px;
    max-width: 400px;
  }
  &__view {
    margin: 40px 0;
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__arrowR {
    position: absolute;
    left: 39%;
    top: -44px;
    transform: rotate(3deg);
    img {
      width: 100%;
      height: auto;
      max-width: 90px;
    }
  }
  &__arrowL {
    position: absolute;
    right: 39%;
    top: -44px;
    transform: rotate(-3deg);
    img {
      width: 100%;
      height: auto;
      max-width: 90px;
    }
  }
  &__viewprojects {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    padding: 20px;
    border-radius: 15px;
    transition: all 900ms ease 0s;
    &:hover {
      color: var(--color-secondary);

      border-color: var(--color-secondary);
    }
  }
  &__projects {
    padding-left: 6px;
  }
}
@media (max-width: 1400px) {
  .main {
    &__arrowR {
      left: 35%;
    }
    &__arrowL {
      right: 35%;
    }
  }
}

@media (max-width: 1200px) {
  .main {
    &__title {
      font-size: 50px;
    }
    &__arrowR {
      left: 32%;
    }
    &__arrowL {
      right: 32%;
    }
  }
}
@media (max-width: 767px) {
  .main {
    &__wrapper {
      flex-direction: column;
    }

    &__title {
      font-size: 35px;
      z-index: 5;
    }
    &__arrowR {
      left: 25%;
    }
    &__arrowL {
      right: 25%;
    }
  }
}
@media (max-width: 560px) {
  .main {
    &__arrowR {
      left: 15%;
    }
    &__arrowL {
      right: 15%;
    }
  }
}
