.item {
  width: 374px;
  height: 245px;
  border-radius: 50px;
  position: relative;
  margin-bottom: 30px;
  border: 2px solid;
  overflow: hidden;

  &__hover {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__hover a {
  }
  &__container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;

    // display: none;
  }

  &__container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    // position: absolute;
  }
  &__container span {
    position: absolute;
    top: 115px;
    color: aqua;
    font-size: 20px;
    text-transform: uppercase;
  }
  //   &__title {
  // align-items: center;
  // color: #fff;
  // display: flex;
  // font-size: 40px;
  // font-weight: 600;
  //   }
}
