.item {
  width: 374px;
  height: 245px;
  border-radius: 50px;
  position: relative;
  border: 2px solid;
  overflow: hidden;

  &__hover {
    align-items: center;
    background-color: #576a8d;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    left: 0;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 1;
    opacity: 0;
  }
  &__hover:hover {
    opacity: 1;
  }
  &__hover a {
  }
  &__container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    // position: absolute;
  }
  &__container span {
    position: absolute;
    top: 115px;
    color: aqua;
    font-size: 20px;
    text-transform: uppercase;
  }
  //   &__title {
  // align-items: center;
  // color: #fff;
  // display: flex;
  // font-size: 40px;
  // font-weight: 600;
  //   }
}
