.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 15px;
}

.project {
  &__list {
    display: flex;
    justify-content: space-between;
    padding: 40px 15px;
    flex-wrap: wrap;
    gap: 46px;
    width: 100%;
  }
}
@media (min-width: 1880px) {
  .container {
    max-width: 1660px;
  }
}
@media (max-width: 1415px) {
  .project {
    &__list {
      justify-content: center;
    }
  }
}
