.project {
  display: flex;
  justify-content: space-between;

  padding: 40px 0;
  flex-wrap: wrap;
  gap: 46px;
  width: 100%;
}
@media (max-width: 1382px) {
  .project {
    justify-content: center;
  }
}
