.container {
  max-width: 85vw;
  margin: 0 auto;
  padding: 0 15px;
}

.project {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  flex-wrap: wrap;
  gap: 46px;
  width: 100%;
}
