:root {
  --color-primary: #fff;
  --color-secondary: #1a8ad9;
  --color-bg: #060915;
  --color-close: #222222;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 15px;
}

.contact {
  &__wrapper h1 {
    color: var(--color-primary);
  }
  &__intro {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
  }
  &__link {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-primary);
    transition: all 0.9s ease;
    &:hover {
      color: var(--color-secondary);
      transition: all 0.9s ease;
    }
    span {
      margin-left: 10px;
      font-size: 25px;
    }
  }
  &__avatar {
    img {
      width: 100%;
      height: auto;
      margin: 2px;
      max-width: 500px;
    }
  }
  &__send {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    h3 {
      color: var(--color-primary);
    }
  }
  &__btn {
    margin-top: 40px;
    font-size: 16px;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    padding: 20px;
    border-radius: 15px;
    background: var(--color-bg);
    transition: all 900ms ease 0s;
    &:hover {
      color: var(--color-secondary);
      border-color: var(--color-secondary);
    }
  }
}
@media (min-width: 1880px) {
  .container {
    max-width: 1660px;
  }
}
@media (max-width: 610px) {
  .contact {
    &__intro {
      flex-direction: column;
      justify-content: center;
    }
    &__list {
      width: 100%;
    }
  }
} ;
