.about {
  display: flex;
  flex-direction: column;
  &__wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  &__description {
    font-size: 24px;
    max-width: 60%;
    text-align: start;
  }
  &__avatar img {
    width: 100%;
    height: auto;
    margin: 2px;
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .about {
    &__wrapper {
      flex-direction: column;
    }
    &__description {
      font-size: 18px;
      text-align: center;
    }
  }
}
