:root {
  --color-primary: #fff;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 15px;
}
.about {
  display: flex;
  flex-direction: column;
  &__title {
    color: var(--color-primary);
  }
  &__intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__description {
    font-size: 24px;
    max-width: 60%;
    text-align: start;
    color: var(--color-primary);
  }
  &__avatar img {
    width: 100%;
    height: auto;
    margin: 2px;
    max-width: 400px;
  }
}
@media (min-width: 1880px) {
  .container {
    max-width: 1660px;
  }
}
@media (max-width: 767px) {
  .about {
    &__intro {
      flex-direction: column;
    }
    &__description {
      font-size: 18px;
      text-align: center;
    }
  }
}
