.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 15rem 10rem;
}

.footer {
  background: rgb(199, 173, 173);
  width: 100vw;
  text-align: center;

  &__list {
    display: flex;
    margin: 0 auto;
    max-width: 40%;
    justify-content: space-between;
  }

  &__link {
    color: #eee;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  &__link svg {
    width: 50px;
    height: 50px;
  }
  &__text {
    margin-top: 15px;
  }
}
