.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 15px;
}

.footer {
  width: 100vw;
  &__wrapper {
    text-align: center;
  }
  &__list {
    display: flex;
    margin: 0 auto;
    max-width: 40%;
    justify-content: space-between;
  }

  &__link {
    color: #eee;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  &__link svg {
    width: 50px;
    height: 50px;
  }
  &__text {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .footer {
    &__list {
      max-width: none;
    }
  }
}
